@font-face {
    font-family: quicksand;
    src: url(./fonts/Quicksand-VariableFont_wght.ttf);
}

:root {
    --primaryColorScheme: orange;
    --primaryColorDarkScheme: rgb(194, 126, 0);
    --primaryTextColor: white;
    --primaryTextColorReverse: black;
    --background: rgba(13, 16, 23, 255);
    --backgroundReverse: rgb(255, 236, 199);
    --backgroundColorLight: rgba(18, 21, 28, 255);
    --calenderPicker: invert(1);
}

.lightMode {
    --primaryColorScheme: rgb(214, 142, 7);
    --primaryColorDarkScheme: rgb(194, 126, 0);
    --primaryTextColor: black;
    --primaryTextColorReverse: white;
    --background: rgb(255, 236, 199);
    --backgroundReverse: rgba(13, 16, 23, 255);
    --backgroundColorLight: white;
    --calenderPicker: invert(0);
}

.themeBtn {
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.themeBtnIcon {
    scale: 1.4;
}

* {
    padding: 0;
    margin: 0;
    text-wrap: balance;
    /* outline: 2px solid orangered; */
}

::-webkit-scrollbar {
    width: .8rem;
}

::-webkit-scrollbar-track {
    background: var(--backgroundColorLight);
    display: none;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
    background: var(--primaryColorScheme);
    border-radius: 100vw;
    border: 2px solid var(--backgroundColorLight);
}

::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
    background: var(--primaryColorDarkScheme);
    border-radius: 100vw;
    border: 2px solid var(--backgroundColorLight);
}

::-webkit-calendar-picker-indicator {
    filter: var(--calenderPicker);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}



input[type="checkbox"] {
    accent-color: green;
}

select {
    background-color: var(--backgroundColorLight);
    color: var(--primaryTextColor);
    border-radius: 5px;
    height: 30px;
    width: 80px;
    padding-left: 5px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.664);
    display: none;
}

body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: quicksand;
    overflow: hidden;
    position: relative;


    background-color: var(--background);
    display: grid;
    grid-template-columns: minmax(340px, 2.5fr) minmax(300px, 7.5fr);

    transition: background-color .5s ease;
}

button {
    background: transparent;
    border: none;
}

svg {
    fill: var(--primaryTextColor);
}


.cancelBtn {
    position: absolute;
    top: 25px;
    right: 30px;
    border: none;
}

.cancelBtnIcon:hover {
    fill: crimson;
}

.cancelBtnIcon:active {
    fill: red;
}


.notice {
    height: 50px;
    width: 320px;

    border: 2px solid var(--primaryColorScheme);
    border-radius: 20px;

    background-color: var(--backgroundColorLight);

    position: absolute;
    right: 50px;
    bottom: 150px;


    opacity: 0;
    transition: opacity 1s ease;

    display: flex;
    justify-content: center;
    align-items: center;
}

.notice.show {
    opacity: 1;
}

.notice p {
    color: var(--primaryTextColor);
    font-size: 1.3rem;
}

/* ********************************************************************************************************* */


.CTAText {
    align-self: center;
    margin: auto;
    color: var(--primaryColorScheme);
    font-size: 1.2rem;
    font-weight: 450;
}

/* *************************************************************** */

.sidebar {
    grid-column: 1 / 2;
    border-right: 5px solid var(--primaryColorScheme);
}

.sidebarTitle {
    display: grid;
    grid-template-rows: 5fr 5fr;
}

.sidebarTitle h3 {
    color: var(--primaryColorScheme);
    font-size: 2.5rem;
    font-weight: 500;
    padding: 15px 0 0 30px;
    width: 100%;
}

.addProjectBtn {
    height: 30px;
    width: 120px;
    justify-self: end;
    margin: 20px 20px 0 0;
    border: 1px solid var(--primaryColorScheme);
    border-radius: 5px;
    background: transparent;
    color: var(--primaryColorScheme);
}

.sidebarTitle button:hover {
    color: var(--primaryTextColor);
    border-color: var(--primaryTextColor);
}

.sidebar hr {
    grid-column: 1 / 2;
    margin: 0 auto 20px auto;
    width: 450px;
    border-color: var(--primaryTextColor);
}

.projectList {
    width: minmax(200px, 400px);
    margin: 0 auto;
    height: 85vh;
    padding-left: 30px;
    position: relative;
    overflow: auto;
    overflow-x: hidden;
}

.projectSidebar {
    color: var(--primaryTextColor);
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.projectSidebar:hover {
    color: var(--primaryColorScheme);
}

li {
    color: var(--primaryTextColor);
}

.projectOrderedList li:last-child>.projectSidebar {
    padding-bottom: 100px;
}

.projectSidebar h5 {
    font-size: 1.2rem;
    font-weight: 500;
    word-wrap: break-word;
    max-width: 250px;
    min-width: 150px;
}

.repeatIcon {
    height: 15px;
}

.pirorityMark {
    height: 10px;
    width: 10px;
    border-radius: 100%;
}

/* *************************************************************** */

main {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
}

.projectTitleDiv {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(100px, 6fr) 2fr;
}

.title {
    grid-column: 1/2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.actBtns {
    grid-column: 2/3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3vw;
}

.ProjectTitle {
    color: var(--primaryColorScheme);
    font-size: 3.5rem;
    font-weight: 600;
    padding: 40px 0 0 4.5vw;
    width: 700px;
    word-wrap: break-word;
}



.postponeBtn {
    height: 30px;
    width: 80px;
    border: 1px solid var(--primaryColorScheme);
    color: var(--primaryColorScheme);
    border-radius: 5px;
}

.postponeBtn:hover {
    border-color: var(--primaryTextColor);
    color: var(--primaryTextColor);
}

.editBtnIcon:hover {
    fill: rgb(44, 201, 253);
}

.editBtnIcon:active {
    fill: rgb(0, 108, 145);
}

.deleteBtnIcon:hover {
    fill: crimson;
}

.deleteBtnIcon:active {
    fill: red;
}

.projectDate,
.projectDeadlineDate,
.projectRepeat {
    color: var(--primaryTextColor);
    padding: 5px 200px;
    font-weight: 500;
}

.projectDeadlineDate {
    color: crimson;
}

.projectRepeat {
    display: none;
}

.projectDesc {
    color: var(--primaryTextColor);
    margin: 40px 120px;
    width: 900px;
}

.todoBtnContainer {
    display: flex;
    height: 50px;
    width: 100%;
}

.todoBtnDiv {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.todoBtnContainer .empty {
    height: 100%;
    width: 20%;
}


.addTodoBtn {
    height: 30px;
    width: 100px;
    border: 1px solid var(--primaryColorScheme);
    border-radius: 5px;
    background: transparent;
    color: var(--primaryColorScheme);
}

.addTodoBtn:hover {
    color: var(--primaryTextColor);
    border-color: var(--primaryTextColor);
}

.todoListContainer {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10vw;
}


.todoList {
    height: 450px;
    width: fit-content;
    overflow-y: auto;
    overflow-x: hidden;
}

.ToDo {
    height: 50px;
    width: 440px;

    min-height: 50px;
    min-width: 440px;

    border: 1px solid var(--primaryTextColor);
    border-radius: 5px;

    margin: 20px 20px 0 20px;

    color: var(--primaryTextColor);

    overflow: hidden;
    transition: height 0.4s ease-out, width 0.3s ease-out;
}

.ToDo.expanded {
    height: auto;
    height: calc-size(fit-content, size);
    width: auto;
    width: calc-size(fit-content, size);
}

.ToDoInit {
    display: flex;
    align-items: center;
    min-height: 50px;
    min-width: 400px;
}

.dragIcon {
    flex: 0 0 24px;
    margin-right: 15px;
}

.dragIcon:hover {
    cursor: grab;
}

.dropIcon {
    flex: 0 0 24px;
    margin-right: 5px;
    transition: transform 0.3s ease-in-out;
}

.dropIcon:hover {
    cursor: pointer;
}

.dropIcon.rotated {
    transform: rotate(180deg);
    fill: var(--primaryColorScheme)
}



.dragIcon:active,
.dropIcon:active {
    fill: var(--primaryColorScheme);
}

.todoTitle {
    font-size: 1rem;
    font-weight: 400;
    margin: 10px 0px 10px 0;
}

#todoCheck {
    margin-right: 40px;
    margin-left: auto;
}

.ToDo.dragging {
    opacity: .5;
}

.todoExpand {
    position: relative;
    /* display: none; */
}


.todoDesc {
    padding: 5px 80px;
    word-wrap: break-word;
    max-width: 800px;
}

.todoActBtns {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding: 10px 50px 10px 0;
}

/* *************************************************************** */

/* forms universal css */

.formModal {
    position: absolute;
    top: 20%;
    left: 40%;
    background-color: var(--background);
    padding: 20px 0 20px 20px;
    border: none;
}

.formModal h3 {
    color: var(--primaryColorScheme);
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.formModal label {
    color: var(--primaryTextColor);
    /* padding: 20px; */
    margin-left: 10px;
}

.formModal input,
.formModal textarea {
    margin: 10px 0 20px 20px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid var(--primaryColorScheme);
    width: 300px;
    color: var(--primaryTextColor);
    background-color: var(--backgroundColorLight);
}

.formModal input:focus,
.formModal textarea:focus {
    outline: 2px solid var(--primaryColorScheme);

}



.formModal input {
    height: 20px;
}

.formModal textarea {
    height: 80px;
    resize: none;
}

.formModal button.submit {
    border: 1px solid var(--primaryColorScheme);
    border-radius: 5px;
    color: var(--primaryTextColor);
    background-color: transparent;
    height: 30px;
    width: 80px;
    position: absolute;
    right: 40px;
    bottom: 25px;
}

.formModal button.submit:hover {
    border-color: green;
    color: green;
}

.formModal button.submit:active {
    border-color: rgb(0, 77, 0);
    color: rgb(0, 77, 0);
}

/* Create Project from */
.createProjectModal {
    height: 460px;
    width: 400px;
}

/* repeat styles */
.repeat {
    display: inline;
}

#projectType {
    width: 120px;
    height: 25px;
    margin: 0 0 10px 5px;
}

#repeatCount {
    width: 200px;
    display: none;
    margin-bottom: 0;
}

#repeatMeasure {
    width: 90px;
    margin-left: 5px;
    display: none;
}


/* edit project form */
.editProjectModal {
    height: 380px;
    width: 400px;
}

select {
    background-color: var(--backgroundColorLight);
    color: var(--primaryTextColor);
    border-radius: 5px;
    height: 30px;
    width: 80px;
    padding-left: 5px;
}

select:focus {
    outline: 1px solid var(--primaryColorScheme);
}

/* delete project Modal */

.deleteProjectModal {
    min-height: 150px;
    height: fit-content;
    width: 350px;

    position: absolute;
    top: 35%;
    left: 45%;
}

.deleteProjectModal h5 {
    color: var(--primaryTextColor);
    font-size: 1.3rem;
    font-weight: 300;
    padding: 0 20px 60px 20px;
    text-wrap: wrap;
    word-wrap: break-word;
}

.deleteProjectModal button.submit:hover {
    color: red;
    border-color: red;
}

.deleteProjectModal button.submit:active {
    color: red;
    border-color: red;
}

.deleteProjectModal .cancelBtnIcon:hover {
    fill: green;
}

.deleteProjectModal .cancelBtnIcon:active {
    fill: rgb(0, 77, 0);
}

/* Create Todo form */
.createTodoModal {
    height: 370px;
    width: 380px;
}

/* Edit Todo form */
.editTodoModal {
    height: 370px;
    width: 380px;
}

/* Delete Todo Modal */
.deleteTodoModal {

    min-height: 150px;
    height: fit-content;
    width: 350px;

    position: absolute;
    top: 35%;
    left: 45%;
}

.deleteTodoModal h5 {
    color: var(--primaryTextColor);
    font-size: 1.3rem;
    font-weight: 300;
    padding: 0 20px 60px 20px;
    text-wrap: wrap;
    word-wrap: break-word;
}

.deleteTodoModal .cancelBtnIcon:hover {
    fill: green;
}

.deleteTodoModal .cancelBtnIcon:active {
    fill: rgb(0, 77, 0);
}

.deleteTodoModal button.submit:hover {
    color: red;
    border-color: red;
}

.deleteTodoModal button.submit:active {
    color: red;
    border-color: red;
}



/* postpone form */
.postponeModal {
    height: 160px;
    width: 350px;
}

.postponeModal input[type="date"] {
    width: 150px;
}

/* *************************************************************** */


.selectedProject {
    color: var(--primaryColorScheme);
}